<div class="card mt-5">
    <div class="card-body">
        <form #personaForm="ngForm" (ngSubmit)="onSubmit(personaForm)">
            <!-- TO UPDATE -->
            <input type="hidden" name="id" #id="ngModel" [(ngModel)]="PersonasService.selectedPersona.id">
            <div class="row">
              <div class="form-group col-md-6">
                <input
                  type="number"
                  class="form-control"
                  name="cedula"
                  required 
                  minlength="4"
                  #cedula="ngModel"
                  [(ngModel)]="PersonasService.selectedPersona.cedula"
                  placeholder="Cedula"
                  >
              </div>
              <div class="form-group col-md-6">
                  <input
                    type="text"
                    class="form-control"
                    name="nombre"
                    required minlength="4"
                    #nombre="ngModel"
                    [(ngModel)]="PersonasService.selectedPersona.nombre"
                    placeholder="Nombre"
                    >
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <input
                  type="text"
                  class="form-control"
                  name="apellido"
                  required minlength="4"
                  #apellido="ngModel"
                  [(ngModel)]="PersonasService.selectedPersona.apellido"
                  placeholder="Apellido"
                  >
              </div>

            </div>
            <hr>
            <div class="form-group">
                
              <button class="btn btn-primary" [disabled]="!personaForm.valid" type="submit">
                  <i class="fas fa-plus-circle"></i> Añadir o editar persona
              </button>
              <button class="btn btn-secondary  offset-md-1" type="reset" (click)="resetForm(personaForm)">
                  <i class="fas fa-sync-alt"></i> Borrar
              </button>
            </div>
        </form>
    </div>
  </div>
<div class="card mt-5">
  <table class="table table-hover">
    <thead>
    <tr>
      <td>Cedula</td>
      <td>Nombre</td>
      <td>Apellido</td>
      <td colspan="2">Acciones</td>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let member of personas; let i = index">
      <td>{{ member._source.cedula }}</td>
      <td>{{ member._source.nombre }}</td>
      <td>{{ member._source.apellido }}</td>
      <td><a (click)="onEdit(member)" class="btn btn-primary">Editar</a></td>
      <td><a (click)="onDelete(member._id)" class="btn btn-danger">Borrar</a></td>
    </tr>
    </tbody>
  </table>
</div>

